.DisplayCharacter {
    width: 300px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.DisplayCharacter img {
    width: 300px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;

}

